@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
} 
/*=================================
  main styling starts here
=================================*/

/*=================================
  lightbox section styling starts here
=================================*/
.gallery li { width: 16%; }

.gallery figure { position:relative; }

.no-scroll { overflow: hidden; }

h1 {
  margin: 3% 0;
  display: block;
  font: normal bold 30px 'sans-serif';
  text-transform: capitalize;  
}

.gallery {
  margin: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery figure:hover:before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0; 
  background-color: rgba(0,0,0,0.5);
  cursor: pointer; 
}

.gallery figure:hover:after {
  content: "\f00e";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #fff;
  font: normal 100 30px 'FontAwesome';
}

.lightbox-opened {
  width:100%;
  padding: 25px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}

.lightbox-opened img{
  width: 45%;
  position: absolute;
  left: 25%;
  top: 25%;
  -webkit-box-shadow: 0 0 6px 3px #fff;
    box-shadow: 0 0 6px 3px #fff;
  cursor: default;
}

.cancel {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  font-size: 20px;
  cursor: pointer;
}

.cancel::before{
  content: "\f057";
  float: right;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
}
/*=================================
  lightbox section styling ends here
=================================*/

/*=================================
  tab section styling starts here
=================================*/
.link.active { background-color: #347bb6; }

.content img { width: 50%; } 

.content { 
  padding: 2%;
  display: none; 
}

.content.active { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  border: 1px solid #347bb6;
  background-color: #bed8ec; 
}

.tabs li, .filters li {
  padding: 1% 3%;
  cursor: pointer;
  text-transform: capitalize;
}
/*=================================
  tab section styling ends here
=================================*/
/*=================================
  filter section styling starts here
=================================*/
.tab-content{ 
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filters {
  text-align: center;
  margin-bottom: 30px;
}

.filters li {
  padding: 5px 2%;
  border-radius: 50px;
  margin: 0 2%;
  background-color: #405157;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
      transition: 0.5s ease; 
}

.tab-content li {
  padding: 5px 3%;
  border-radius: 5px;
  background-color: #b8c5a9;
  color: #000;
  text-transform: capitalize;
  text-align: center;
}

.filters li:hover {
  background-color: #a7c5cc;
  color: #000;
}
/*=================================
  filter section styling ends here
=================================*/

/*=================================
  carousal section styling starts here
=================================*/
.carousel { margin: 20px 0; }

.box{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  padding: 3%;
  border: 1px solid;
  margin: 0 0.5%;
  background-color: #a7c5cc;
  text-transform: capitalize;
  text-align: center;
}

.slick-prev:before{
  content: "\f053";
  font-family: FontAwesome;
  color: #000;
}

.slick-next:before{
  content: "\f054";
  font-family: FontAwesome;
  color: #000;
}
/*=================================
  carousal section styling ends here
=================================*/
/*=================================
  slider section styling starts here
=================================*/
.dots .active { color: #ccc; } 

.left-arrow { left: 10%; }

.right-arrow { right: 10%; }

.left-arrow, .right-arrow, .dot {
  display: inline-block;
  text-indent: -9999px; 
}

.dots { 
  margin: 10px 0;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  color: #000;
  font-size: 40px;
}

.left-arrow::before {
  content: "\f053";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.right-arrow::before {
  content: "\f054";
  float: right;
  font-family: FontAwesome;
  text-indent: 0;
}

.dot::before {
  content: "\f111";  
  float: right;
  font-family: FontAwesome;
  text-indent: 0;
  color: #7c7c7c;
}

.banner {
  width:100%;
  margin: 0 10%;
  text-align: center;
}

.slider {
  width:100%;
  position:relative;
  overflow:hidden;
}
/*=================================
  slider section styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/